<div class="row">
    <div class="column width-80">
        <a href="{{ path('user_info', { userId : by.user.id }) }}">
            <img class="border-radius-50 border-color-default vertical-align-middle" src="{{ by.user.identicon }}" alt="{{ 'identicon' | trans }}" />
        </a>
        <span class="margin-l-4-px">
            {{ 'grant moderator permissions to' | trans }}
        </span>
        <a href="{{ path('user_info', { userId : user.id }) }}">
            <img class="border-radius-50 border-color-default vertical-align-middle" src="{{ user.identicon }}" alt="{{ 'identicon' | trans }}" />
        </a>
    </div>
    <div class="column width-20 text-right">
        {{ added | format_ago }}
    </div>
</div>