{% extends 'default/layout.html.twig' %}
{% block title %}{{ 'User'|trans }} #{{ user.id }} - {{ name }}{% endblock %}
{% block main_content %}
    <div class="padding-24-px margin-y-8-px border-radius-3-px background-color-night">
        <div class="text-center">
            <img class="border-radius-50 border-color-default border-width-2-px" src="{{ user.identicon }}" alt="{{ 'identicon'|trans }}" />
        </div>
        <h2>{{ 'Profile'|trans }}</h2>
        <table class="width-100">
            <tbody>
                <tr>
                    <td class="padding-b-8-px border-bottom-default text-right" colspan="2">{{ 'Common'|trans }}</td>
                </tr>
                <tr>
                    <td class="padding-t-16-px">{{ 'Joined'|trans }}</td>
                    <td class="padding-t-16-px">{{ user.added | format_ago }}</td>
                </tr>
                <tr>
                    <td class="padding-b-8-px border-bottom-default text-right" colspan="2">{{ 'Access'|trans }}</td>
                </tr>
                <tr>
                    <td class="padding-t-16-px">{{ 'Status'|trans }}</td>
                    <td class="padding-t-16-px">
                    {% if user.status %}
                        {{ 'active'|trans }}
                    {% else %}
                        {{ 'disabled'|trans }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Approved'|trans }}</td>
                    <td>
                    {% if user.approved %}
                        {{ 'yes'|trans }}
                    {% else %}
                        {{ 'no'|trans }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Moderator'|trans }}</td>
                    <td>
                    {% if user.moderator %}
                        {{ 'yes'|trans }}
                    {% else %}
                        {{ 'no'|trans }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="padding-b-8-px border-bottom-default text-right" colspan="2">{{ 'Settings'|trans }}</td>
                </tr>
                <tr>
                    <td class="padding-t-16-px">{{ 'Interface'|trans }}</td>
                    <td class="padding-t-16-px">
                        {{ user.locale|locale_name(user.locale)|u.title }}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Content filter'|trans }}</td>
                    <td>
                        {% for i, locale in user.locales %}{% if i > 0 %},{% endif %} {{ locale|locale_name(locale)|u.title }}{% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}