<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ name }}{% endblock %}</title>
        {% block keywords %}
            <meta name="keywords" content="yggverse,yggtracker,yggdrasil,bittorrent,magnet,tracker" />
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('asset/' ~ theme ~ '/css/framework.css') }}?{{ version }}" rel="stylesheet" />
            <link href="{{ asset('asset/' ~ theme ~ '/css/common.css') }}?{{ version }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="container">
                    <div class="row margin-y-16-px text-center">
                        <a class="logo display-inline-block margin-b-8-px" href="{{ path('torrent_recent') }}">
                            <span>YGG</span>tracker
                        </a>
                        <div class="font-size-10-px text-center text-color-night">
                            {{ '<a href="%s">Upload</a> any torrent - download with Yggdrasil' | trans | format(path('torrent_submit')) | raw }}
                        </div>
                        {% block header_search %}
                            {{ render(controller(
                                'App\\Controller\\SearchController::module',
                                {
                                    query : app.request.get('query'),
                                    type  : app.request.get('type')
                                }
                            )) }}
                        {% endblock %}
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block main %}
            <main>
                <div class="container">
                    <div class="row">
                        <div class="column width-100">
                            {% block main_profile %}
                                {{ render(controller(
                                    'App\\Controller\\UserController::module',
                                    { route : app.request.get('_route') }
                                )) }}
                            {% endblock %}
                            {% block main_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </main>
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="column width-100 text-center margin-y-16-px">
                            {% block footer_trackers %}{% endblock %}
                            <a href="https://github.com/YGGverse/YGGtracker">GitHub</a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
