<div class="row">
    <div class="column width-80">
        <a href="{{ path('user_info', { userId : user.id }) }}">
            <img class="border-radius-50 border-color-default vertical-align-middle" src="{{ user.identicon }}" alt="{{ 'identicon' | trans }}" />
        </a>
        {{ 'added sensitive edition' | trans }}
        {% if torrent.sensitive.exist %}
            <a href="{{ path('torrent_sensitive_edit', { torrentId : torrent.id, torrentSensitiveId : torrent.sensitive.id }) }}">
                #{{ torrent.sensitive.id }}
            </a>
        {% else %}
            #{{ torrent.sensitive.id }}
        {% endif %}
        {{ 'for torrent' | trans }}
        <a href="{{ path('torrent_info', { torrentId : torrent.id }) }}">
            {{ torrent.name }}
        </a>
    </div>
    <div class="column width-20 text-right">
        {{ added | format_ago }}
    </div>
</div>