{% extends 'default/layout.html.twig' %}
{% block title %}{{'Submit'|trans }} - {{ name }}{% endblock %}
{% block main_content %}
    <div class="padding-24-px margin-y-8-px border-radius-3-px background-color-night">
        <div class="margin-b-24-px padding-b-16-px border-bottom-default">
            <h1>{{'Submit'|trans }}</h1>
        </div>
        <form name="submit" method="post" enctype="multipart/form-data" action="{{ path('page_submit') }}">
            <div class="margin-b-16-px">
                <label for="locale">
                    {{'Content language'|trans }}
                </label>
                <sub class="opacity-0 parent-hover-opacity-09" title="{{ form.locale.placeholder }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </sub>
                <select class="width-100 margin-t-8-px" type="text" name="locale" id="locale">
                    {% for locale in locales %}
                        {% if locale == form.locale.value %}
                            <option value="{{ locale }}" selected="selected">
                                {{ locale|locale_name(locale)|u.title }}
                            </option>
                        {% else %}
                            <option value="{{ locale }}">
                                {{ locale|locale_name(locale)|u.title }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="margin-b-16-px">
                <label for="title">
                    {{'Title'|trans }}
                </label>
                <sub class="opacity-0 parent-hover-opacity-09" title="{{ form.title.attribute.placeholder }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </sub>
                {% for error in form.title.error %}
                    <div class="text-color-red margin-y-8-px">
                        {{ error }}
                    </div>
                {% endfor %}
                <input  class="width-100 margin-t-8-px"
                        type="text"
                        name="title"
                        id="title"
                        {% if form.title.attribute.minlength %}required="required"{% endif %}
                        value="{{ form.title.attribute.value }}"
                        placeholder="{{ form.title.attribute.placeholder }}"
                        minlength="{{ form.title.attribute.minlength }}"
                        maxlength="{{ form.title.attribute.maxlength }}" />
            </div>
            <div class="margin-y-8-px">
                <label for="description">
                    {{'Description'|trans }}
                </label>
                <sub class="opacity-0 parent-hover-opacity-09" title="{{ form.description.attribute.placeholder }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </sub>
                {% for error in form.description.error %}
                    <div class="text-color-red margin-y-8-px">
                        {{ error }}
                    </div>
                {% endfor %}
                <textarea class="width-100 margin-t-8-px"
                          name="description"
                          id="description"
                          {% if form.description.attribute.minlength %}required="required"{% endif %}
                          value="{{ form.description.attribute.value }}"
                          placeholder="{{ form.description.attribute.placeholder }}"
                          minlength="{{ form.description.attribute.minlength }}"
                          maxlength="{{ form.description.attribute.maxlength }}">{{ form.description.attribute.value }}</textarea>
            </div>
            <div class="margin-y-16-px">
                <label for="torrents">
                    {{'Torrent files'|trans }}
                </label>
                <sub class="opacity-0 parent-hover-opacity-09" title="{{ form.torrents.attribute.placeholder }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </sub>
                {% for error in form.torrents.error %}
                    <div class="text-color-red margin-y-8-px">
                        {{ error }}
                    </div>
                {% endfor %}
                <input class="width-100 margin-t-8-px" type="file" name="torrents[]" id="torrents" value="" accept=".torrent" multiple="multiple" />
            </div>
            <div class="margin-y-16-px">
                <input type="checkbox"
                       name="sensitive"
                       id="sensitive"
                       value="true"
                       {% if form.sensitive.attribute.value %}checked="checked"{% endif %} />
                <label for="sensitive">
                    {{'Sensitive'|trans }}
                </label>
                <sub class="opacity-0 parent-hover-opacity-09" title="{{ form.sensitive.attribute.placeholder }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </sub>
            </div>
            <div class="text-right">
                <input class="button-green" type="submit" value="{{'Submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}
