<form class="margin-t-16-px" name="search" method="get" action="{{ path('search_index') }}">
    <input class="min-width-200-px" type="text" name="query" value="{{ query }}" placeholder="{{ 'Keyword, file, hash...' | trans }}" />
    <select name="type">
        {% if type == 'torrent' %}
            <option value="torrent" selected="selected">{{ 'Torrents' | trans }}</option>
        {% else %}
            <option value="torrent">{{ 'Torrents' | trans }}</option>
        {% endif %}
        {% if type == 'page' %}
            <option value="page" selected="selected">{{ 'Pages' | trans }}</option>
        {% else %}
            <option value="page">{{ 'Pages' | trans }}</option>
        {% endif %}
    </select>
    <input {% if query %}class="button-green"{% endif %} type="submit" value="{{ 'Search' | trans }}" />
</form>