<div class="row">
    <div class="column width-80">
        <a href="{{ path('user_info', { userId : user.id }) }}">
            <img class="border-radius-50 border-color-default vertical-align-middle" src="{{ user.identicon }}" alt="{{ 'identicon' | trans }}" />
        </a>
        <span class="margin-l-4-px">
            {{ 'disapproved locales edition' | trans }}
        </span>
        {% if torrent.locales.exist %}
            <a href="{{ path('torrent_locales_edit', { torrentId : torrent.id, torrentLocalesId : torrent.locales.id }) }}">
                #{{ torrent.locales.id }}
            </a>
        {% else %}
            #{{ torrent.locales.id }}
        {% endif %}
        {{ 'for torrent' | trans }}
        {% if session.user.moderator or session.user.owner %}
            <a href="{{ path('torrent_info', { torrentId : torrent.id }) }}">
                {{ torrent.name }}
            </a>
            {% if torrent.approved == false %}
                #{{ torrent.id }} ({{ 'waiting for approve' | trans }})
            {% endif %}
        {% else %}
            {% if torrent.approved == false %}
                #{{ torrent.id }} ({{ 'waiting for approve' | trans }})
            {% elseif torrent.sensitive == true %}
                #{{ torrent.id }} ({{ 'sensitive' | trans }})
            {% else %}
                <a href="{{ path('torrent_info', { torrentId : torrent.id }) }}">
                    {{ torrent.name }}
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="column width-20 text-right">
        {{ added | format_ago }}
    </div>
</div>